.container
	padding-top: 61px

.el-icon-plus
	font-size: 96px
	
.avatar
	width: 100px

.subtitle
	color: #666
	
.card
	margin-bottom: 20px
	
.card .el-main
	padding: 0
	
.admin-plus
	margin-top: 20px
	margin-bottom: 20px
	
.add-header
	margin-bottom: 10px
		
.check-all
	line-height: 28px