.container
	padding-top: 61px
	
.el-main
	padding: 0		
	
.bar-item
	padding-left: 20px
	padding-right: 20px
	border-left: #999 solid 1px
	
.popover-header,.filter
	margin-bottom: 10px

.popover-btn
	margin-top: 10px		
	
.age
	width: 100px

.w-100
	width: 100%
	
.page
	margin-top: 20px