.el-header
	width: 100%
	padding: 0px
	position: fixed
	top: 0
	left: 0
	z-index: 9
	
.el-menu--horizontal>.el-submenu.f-fr
	float: right
	
.logo
	width: 30px
	height: 30px
	margin-right: 10px
	
.el-submenu__title i.el-submenu__icon-arrow
	color: #333
	