.menu-text
	position: relative
	top: 1px
	
.icon-default
	color: white	
  
.toggle
	background-color: #545c64
	color: white
	position: fixed
	z-index: 10
	font-size: 20px
	width: 20px
	height: 40px
	line-height: 40px
	border-top-right-radius: 5px
	border-bottom-right-radius: 5px
	