.search-bar
	background-color: #eee
	color: #333
	height: 50px
	line-height: 50px
	
.bar-item0
	padding-left: 20px
	padding-right: 20px
	border-right: #999 solid 1px
	
.bar-item
	padding-left: 20px
	padding-right: 20px
	border-left: #999 solid 1px
	
.el-icon-search
	height: 19px
	border-left: none
	
.search-name
	margin-left: 16px
	line-height: 30px
	
.aside
	margin-right: 18px

.w-100
	width: 100%
	
.edit,.delete,.icon-repass,.approve
	font-size: 16px
	
.edit
	color: #409EFF
	margin-right: 6px
	
.approve
	color: #67C23A
	margin-right: 6px
	
.delete
	color: #F56C6C
	
.page
	margin-top: 10px	