.header-menu .el-submenu__title i.el-submenu__icon-arrow{
	color: white;
}

.el-menu--popup-right-start{
	margin-left: 0!important
}

h1,h2,h3,h4,h5,h6{
	margin-block-start: 0em;
  margin-block-end: 0em;
	font-size: 14px;
}

.subcard .el-card__header{
	padding: 10px 15px;
}

.card-data .el-card__body{
	padding-bottom: 0;
}

.search-name.el-form-item--mini.el-form-item, 
.search-name.el-form-item--small.el-form-item,
.filter-form.el-form-item--mini.el-form-item, 
.filter-form.el-form-item--small.el-form-item{
	margin-bottom: 0;
}
	
.search-name .el-form-item{
	margin-bottom: 0;
}

.del-confirm.el-button--primary{
	background-color: #F56C6C;
	border-color: #F56C6C;
}

.card .el-card__body{
	padding-bottom: 0;
}
	
.bar-main.el-main,.result-main.el-main{
	padding: 0;
}

.edit-basis .el-dialog__body,.form .el-dialog__body{
	padding: 0 20px;
}

.role-change .el-form-item__label{
	color: white;
}

.field-collapse .el-collapse-item__content{
	padding-bottom: 0px;
}

.select-table .el-form-item__content{
	width: 100%;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner{
	width: auto;
}

.option-table .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
	margin-bottom: 0;
}

.option-table .el-form-item__error{
	position: inherit
}

.field-main.el-main{
	padding: 0;
}

.field-table-form_item,.field-table-form_item .el-form-item__content:first-child{
	width: 100%;
}

.show-form-item .el-form-item__label{
	font-weight: bold;
}

.approve-label .el-form-item__label{
	color: #409EFF;
	font-weight: bold;
}
	