.container
	padding-top: 61px

.opera
	padding: 0
	line-height: 22px
	
.card-data
	margin-bottom: 20px
	
.subcard
	color: white
	padding-bottom: 20px
	margin-bottom: 20px
	
.subcard0
	background-color: rgb(92, 109, 133)
	
.subcard1
	background-color: rgb(255, 135, 0)
	
.subcard2
	background-color: rgb(0, 172, 255)
	
.subcard3
	background-color: rgb(47, 101, 235)
	
.subcard4
	background-color: rgb(0, 142, 106)
	
.subcard5
	background-color: rgb(3, 186, 0)
	
.subcard6
	background-color: rgb(234, 75, 140)
	
.subcard7
	background-color: rgb(255, 69, 48)
	
.subcard8
	background-color: rgb(255, 189, 20)
	
.subcard9
	background-color: rgb(197, 165, 64)
	
.subcard10
	background-color: rgb(0, 199, 209)
	
.subcard11
	background-color: rgb(135, 66, 255)
	
.subcard12
	background-color: rgb(199, 57, 235)
	
.subcard13
	background-color: rgb(0, 124, 185)
	
.subcard14
	background-color: rgb(92, 109, 133)
	
.subcard15
	background-color: rgb(255, 135, 0)
	
.subcard16
	background-color: rgb(0, 172, 255)
	
.subcard17
	background-color: rgb(47, 101, 235)
	
.subcard18
	background-color: rgb(0, 142, 106)
	
.subcard19
	background-color: rgb(3, 186, 0)
	
.subcard20
	background-color: rgb(234, 75, 140)	
	
.add
	color: #545c64
	font-size: 24px
	line-height: 64px
	
.chart-card
	margin-bottom: 20px
	
.chart
	width: 100%
	
.top-title
	font-size: 20px
	font-weight: 400

.top-title0
	color: rgb(255, 135, 0)
	
.top-title1
	color: rgb(0, 172, 255)
	
.top-title2
	color: rgb(47, 101, 235)
	
.top-title3
	color: rgb(0, 142, 106)
	
.avatar
	position: relative
	top: -3px
	
.top-item
	margin-top: 10px