.el-header
	width: 100%
	padding: 0px
	position: fixed
	top: 0
	left: 0
	z-index: 9
	
.el-menu--horizontal>.el-menu-item 
	float: right
	
.el-menu--horizontal>.el-menu-item.f-fl
	float: left
	
.el-menu--horizontal>.el-submenu.f-fr
	float: right
	
.icon
	color: white
	font-size: 20px
	
	