.el-main
	padding: 0	

.search-bar
	background-color: #eee
	color: #333
	height: 50px
	line-height: 50px
	
.bar-item0
	padding-left: 20px
	padding-right: 20px
	border-right: #999 solid 1px
	
.bar-item
	padding-left: 20px
	padding-right: 20px
	border-left: #999 solid 1px
	
.el-icon-search
	height: 19px
	border-left: none
	
.search-name
	margin-left: 16px
	line-height: 30px	
	