.time
	width: 100px
	
.rank
	width: 140px
	
.search-main
	padding: 0
	height: 30px
	
.bar-item
	margin-right: 10px
	
.filter-item
	margin-bottom: 10px
	
.filter-item:last-of-type
	margin-bottom: 0
	
.check-all
	margin-bottom: 5px		